*{
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
    background-color: #1f1f1f;
}

#game{
    width: 100vw;
    display: block;

}

#clip{
    visibility: hidden;
    width: 100%;
    object-fit: contain;
   position: fixed;
   z-index: 2;
   top: 15%;
}


#timer{
    font-size: 4rem;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    color: red;
    z-index: 3;
    position: absolute;
    visibility: hidden;
}



body button{
    /* background-color: red; */
    border: none;
    font-size: 2rem;
    padding: 2rem 1rem;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    justify-content: center;
    border: white solid 1px;
    color:white;
}

#startBtn{
    
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    z-index: 4;
}

.btnDi{
    margin-left: auto;
    margin-right: auto;
    display: inline-table;
    bottom: 10px;
    position: absolute;
    
}

#btnDil{
    left: 5px;
}
#btnDir{
    right: 5px;
}

.btnSelected{
    background-color: white;
    color: black;
    border: black 1px solid;
}

#titulo{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    margin-top: 15%;
}
h2{
    background-color: white;
    color:black;
}
h3{
    font-size: 1em;
    background-color: white;
    color:black;
}
@media screen and (min-width:980px) {
    #clip{
        width: 60%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

#score{
    font-size: 3rem;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    bottom: 30px;
    color: white;
}

