*{
    margin: 0;
    padding: 0;
}

#game{
    width: 100vw;
    display: table;
    position: relative;
}

#clip{
    visibility: hidden;
    width: 100%;
    object-fit: contain;
   position: absolute;
   z-index: 2;
}


#timer{
    font-size: 4rem;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    color: red;
    z-index: 3;
    position: absolute;
    visibility: hidden;
}



body button{
    /* background-color: red; */
    border: none;
    font-size: 2rem;
    padding: 2rem 1rem;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    justify-content: center;
}

#startBtn{
    
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
    z-index: 4;
}

.btnDi{
    margin-left: auto;
    margin-right: auto;
    display: inline-table;
    bottom: 10px;
    position: absolute;
    
}

#btnDil{
    left: 5px;
}
#btnDir{
    right: 5px;
}

.btnSelected{
    background-color: green;
}

#titulo{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h3{
    font-size:0.9em;   
}
@media screen and (min-width:980px) {
    #clip{
        width: 60%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

#score{
    font-size: 3rem;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    bottom: 30px;
}
